 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to Text Analyzer</h1>
<p>Enter your Text below</p>
<form action="/removepunctuation" method="get">
    <textarea name="text" style="width: 1178px; height: 136px;"></textarea>
    <input type="checkbox" name="RemovePunctuation" value="RemovePunctuation">Remove Punctuation<br>
    <input type="checkbox" name="upperCase" value="upperCase">Uppercase<br>
    <input type="checkbox" name="newLine" value="newLine">New Line Remover<br>
    <input type="checkbox" name="charCount" value="charCount">Character Count<br>
    <button type="submit">Analyze Text</button>
 </form>
</body>
</html>